.issue_title{
    width: 100%;
    text-align: center;
    background-color: lightblue;
}

.bar{
    width: 100%;
    height: 5px;
    background-color:darkcyan;
}

.bar2{
    width: 100%;
    height: 20px;
    background-color: beige;
}

.bar3{
    width: 100%;
    height: 5px;
    background-color: brown;
}

.image{
    margin-left: 48%;
}

.inp{
    width:100%;
}

.button{
    background-color: black;
    color: white;
    width: 40px;
    height: 25px;
}

.button2{
    background-color: blue;
    color: white;
    width: 45px;
    height: 25px;
}

.button3{
    background-color: green;
    color: white;
    width: 50px;
    height: 25px;
}

.button4{
    color: blue;
    width: 100%;
    height: 25px;
    text-align: left;
}